.vs/
Properties/
.hgignore
.hgtags
.hg_archival.txt
classification/edgelists - Copy/
classification/edgelists/
classification/data/from-azure/splitted/cnn_models/
classification/src/models/pretrained/
bfg-1.13.0.jar
classification/.idea/
bin/Release/scen/
bin/Release/maps/
src/data/
graph/base-maps/
graph/instances/
classification/src/AuthorKit20/
classification/src/models/
bin/
classification/**/*.csv
classification/**/*.pkl
src/*.7z
classification/**/*.7z
classification/**/*.npz
classification/**/**/*.npz
data/
src/plots/
src/models/regression/
src/models/classification/
src/models/coverage/
src/models/cost-sensitive/
src/lightning_logs
src/models/__pycache__
src/utils/__pycache__
